@if (!isAuthPage()) {
  <mat-toolbar class="navbar">
    <span class="logo" routerLink="/">Talyn<span class="highlight">Q</span></span>

    <nav class="main-links">
      <a
        routerLink="/jobs"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Jobs</a
      >
      <a routerLink="/companies" routerLinkActive="active-link">Companies</a>
      <a routerLink="/reviews" routerLinkActive="active-link">Reviews</a>
      @if (isLoggedIn() && user()?.role === 'USER') {
        <a routerLink="/jobs/saved" routerLinkActive="active-link">Saved Jobs</a>
      }
    </nav>

    <div class="actions">
      @if (!isLoggedIn()) {
        <button mat-stroked-button class="login-btn" routerLink="/login">Login</button>
        <button mat-flat-button class="primary-btn" routerLink="/register">Sign up</button>
      }

      @if (isLoggedIn() && user()?.role === 'USER') {
        <button mat-stroked-button class="login-btn" routerLink="/jobs">Jobs</button>
        <button mat-flat-button class="primary-btn" (click)="logout()">Logout</button>
      }

      @if (isLoggedIn() && user()?.role === 'COMPANY') {
        <button mat-stroked-button class="login-btn" routerLink="/company/dashboard">
          Dashboard
        </button>
        <button mat-flat-button class="primary-btn" routerLink="/company/dashboard">
          Post Job
        </button>
        <button mat-flat-button class="primary-btn" (click)="logout()">Logout</button>
      }
    </div>
  </mat-toolbar>
}
