@if (!isAuthPage()) {
  <mat-toolbar class="navbar">
    <span class="logo" routerLink="/">Talyn<span class="highlight">Q</span></span>

    <nav class="main-links">
      <a routerLink="/jobs">Jobs</a>
      <a href="javascript:void(0)">Companies</a>
      <a href="javascript:void(0)">Reviews</a>
      <a href="javascript:void(0)">Saved Jobs</a>
    </nav>

    <div class="actions">
      @if (!isLoggedIn()) {
        <button mat-stroked-button class="login-btn" routerLink="/login">Login</button>
        <button mat-flat-button class="primary-btn" routerLink="/register">Post Job</button>
      }

      @if (isLoggedIn() && user()?.role === 'USER') {
        <button mat-stroked-button class="login-btn" routerLink="/jobs">Jobs</button>
        <button mat-flat-button class="primary-btn" (click)="logout()">Logout</button>
      }

      @if (isLoggedIn() && user()?.role === 'COMPANY') {
        <button mat-stroked-button class="login-btn" routerLink="/company/dashboard">Dashboard</button>
        <button mat-flat-button class="primary-btn" (click)="logout()">Logout</button>
      }
    </div>
  </mat-toolbar>
}
