@if (!isAuthPage()) {
  <mat-toolbar color="primary">
    <span routerLink="/">JobPortal</span>
    <span class="spacer"></span>

    @if (!isLoggedIn()) {
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/register">Register</button>
    }

    @if (isLoggedIn() && user()?.role === 'USER') {
      <button mat-button routerLink="/jobs">Jobs</button>
      <button mat-button (click)="logout()">Logout</button>
    }

    @if (isLoggedIn() && user()?.role === 'COMPANY') {
      <button mat-button routerLink="/company/dashboard">Dashboard</button>
      <button mat-button (click)="logout()">Logout</button>
    }
  </mat-toolbar>
}
